<div class="header-container">
  <h2 class="header-title">List of Patients</h2>
  <button (click)="addPatient()" color="primary" mat-flat-button>
    Add Patient
  </button>
</div>

<div class="table-container mat-elevation-z8" id="tableContainer">
  <table [dataSource]="patients" class="demo-table" mat-table>
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th *matHeaderCellDef mat-header-cell> Name</th>
      <td *matCellDef="let patient" mat-cell> {{ patient.name }}</td>
    </ng-container>

    <!-- Age Column -->
    <ng-container matColumnDef="age">
      <th *matHeaderCellDef mat-header-cell> Age</th>
      <td *matCellDef="let patient" mat-cell> {{ patient.age }}</td>
    </ng-container>

    <!-- Gender Column -->
    <ng-container matColumnDef="gender">
      <th *matHeaderCellDef mat-header-cell> Gender</th>
      <td *matCellDef="let patient" mat-cell> {{ patient.gender }}</td>
    </ng-container>

    <!-- Allergies Column -->
    <ng-container matColumnDef="allergies">
      <th *matHeaderCellDef mat-header-cell> Allergies</th>
      <td *matCellDef="let patient" mat-cell> {{ patient.allergies }}</td>
    </ng-container>

    <!-- Current Medication Column -->
    <ng-container matColumnDef="currentMedication">
      <th *matHeaderCellDef mat-header-cell> Current Medication</th>
      <td *matCellDef="let patient" mat-cell> {{ patient.currentMedication }}</td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th *matHeaderCellDef mat-header-cell> Actions</th>
      <td *matCellDef="let patient" class="actions-cell" mat-cell>
        <button
          (click)="navigateToPatientDetails(patient.id)"
          aria-label="View details"
          color="primary"
          mat-icon-button
        >
          <mat-icon>visibility</mat-icon>
        </button>
        <button
          (click)="navigateToPatientEdit(patient.id)"
          aria-label="Edit patient"
          color="accent"
          mat-icon-button
        >
          <mat-icon>edit</mat-icon>
        </button>
        <button
          (click)="deletePatient(patient.id)"
          aria-label="Delete patient"
          color="warn"
          mat-icon-button
        >
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
  </table>
</div>
