<div class="header-container">
  <h2>List of Patients</h2>
  <button mat-flat-button color="primary" (click)="addPatient()">
    Add Patient
  </button>
</div>

<br>

<table mat-table [dataSource]="patients" class="mat-elevation-z8 demo-table">

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let patient"> {{ patient.name }} </td>
  </ng-container>

  <ng-container matColumnDef="age">
    <th mat-header-cell *matHeaderCellDef>Age</th>
    <td mat-cell *matCellDef="let patient"> {{ patient.age }} </td>
  </ng-container>

  <ng-container matColumnDef="gender">
    <th mat-header-cell *matHeaderCellDef>Gender</th>
    <td mat-cell *matCellDef="let patient"> {{ patient.gender }} </td>
  </ng-container>

  <ng-container matColumnDef="allergies">
    <th mat-header-cell *matHeaderCellDef>Allergies</th>
    <td mat-cell *matCellDef="let patient"> {{ patient.allergies }} </td>
  </ng-container>

  <ng-container matColumnDef="currentMedication">
    <th mat-header-cell *matHeaderCellDef>Current Medication</th>
    <td mat-cell *matCellDef="let patient"> {{ patient.currentMedication }} </td>
  </ng-container>

  <!-- Actions Column -->
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let patient">
      <button (click)="navigateToPatientDetails(patient.id)" color="primary" mat-icon-button>
        <mat-icon>visibility</mat-icon>
      </button>
      <button (click)="navigateToPatientEdit(patient.id)" color="accent" mat-icon-button>
        <mat-icon>edit</mat-icon>
      </button>
      <button (click)="deletePatient(patient.id)" color="warn" mat-icon-button>
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>

