<h2>List of patients</h2>

<button mat-flat-button color="primary" class="align-right" (click)="addPatient()">Add patient
</button>

<div *ngIf="patients.length > 0; else noData">
  <table>
    <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Age</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let patient of patients; index as i">
      <td>{{ i + 1 }}</td>
      <td>{{ patient.name }}</td>
      <td>{{ patient.age }}</td>
      <td>
        <button (click)="deletePatient(patient.id)" color="warn" mat-icon-button>
          <mat-icon>delete</mat-icon>
        </button>
        <button (click)="navigateToPatientDetails(patient.id)" color="primary" mat-icon-button>
          <mat-icon>visibility</mat-icon>
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<ng-template #noData>
  <p>No patients found.</p>
</ng-template>
