<div class="container">
    <div class="appointment-details">
    <h2 class="header-title">Create Appointment</h2>
    <form (ngSubmit)="createAppointment()">
        <mat-card>
            <mat-card class="appointment-card">
                <mat-card-header>
                  <mat-card-title>
                    <mat-icon>badge</mat-icon>
                    Appointment Identification
                  </mat-card-title>
                </mat-card-header>
            <mat-card-content>
                <div class="appointment-info">
                <mat-form-field appearance="outline">
                    <mat-label>Primary Physician:</mat-label>
                    <input [(ngModel)]="appointment.primaryPhysician" id="primaryPhysician" matInput name="primaryPhysician" />
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Reason:</mat-label>
                    <textarea [(ngModel)]="appointment.reason" 
                    id="reason" matInput name="reason" type="reason"></textarea>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Note:</mat-label>
                    <textarea [(ngModel)]="appointment.note" id="note" matInput name="note" type="text"></textarea>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Cancellation Reason:</mat-label>
                    <textarea [(ngModel)]="appointment.cancellationReason" id="cancellationReason:" matInput name="cancellationReason:" type="text"></textarea>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Schedule:</mat-label>
                    <input [(ngModel)]="appointment.schedule" id="schedule" matInput name="schedule" [matDatepicker]="picker" />
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Status:</mat-label>
                    <input [(ngModel)]="appointment.status" id="schedule" matInput name="status" type="text" />
                </mat-form-field>
            </div>
        </mat-card-content>
        </mat-card>
    </mat-card>





        <button class="align-right" color="primary" mat-flat-button type="submit">
            Add new appointment
        </button>
    </form>

    <p *ngIf="message">
        <ng-toast [position]="ToasterPosition.BOTTOM_CENTER" [width]="300"></ng-toast>
      </p>
</div>
<app-scroller></app-scroller>