<div class="header-container">
    <h2 class="header-title">List of Appointments</h2>
    <button (click)="addAppointment()" color="primary" mat-flat-button>
        Add Appointment
    </button>
</div>

<div class="table-container mat-elevation-z8" id="tableContainer">
    <table [dataSource]="appointments" class="demo-table" mat-table>
        <!-- Name Column -->
        <ng-container matColumnDef="primaryPhysician">
            <th *matHeaderCellDef mat-header-cell> Primary Physician</th>
            <td *matCellDef="let appointment" mat-cell> {{ appointment.primaryPhysician }}</td>
        </ng-container>

        <ng-container matColumnDef="reason">
            <th *matHeaderCellDef mat-header-cell> Reason</th>
            <td *matCellDef="let appointment" mat-cell> {{ appointment.reason }}</td>
        </ng-container>


        <ng-container matColumnDef="note">
            <th *matHeaderCellDef mat-header-cell> Note</th>
            <td *matCellDef="let appointment" mat-cell> {{ appointment.note }}</td>
        </ng-container>

        <ng-container matColumnDef="cancellationReason">
            <th *matHeaderCellDef mat-header-cell> Cancellation Reason</th>
            <td *matCellDef="let appointment" mat-cell> {{ appointment.cancellationReason }}</td>
        </ng-container>

        <ng-container matColumnDef="schedule">
            <th *matHeaderCellDef mat-header-cell> Schedule</th>
            <td *matCellDef="let appointment" mat-cell> {{ appointment.schedule }}</td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th *matHeaderCellDef mat-header-cell> Status</th>
          <td *matCellDef="let appointment" mat-cell> {{ appointment.status }}</td>
      </ng-container>

        <ng-container matColumnDef="actions">
            <th *matHeaderCellDef mat-header-cell> Actions</th>
            <td *matCellDef="let patient" class="actions-cell" mat-cell>
              <button
                (click)="navigateToAppointmentDetails(patient.id)"
                aria-label="View details"
                color="primary"
                mat-icon-button
              >
                <mat-icon>visibility</mat-icon>
              </button>
              <button
                (click)="navigateToAppointmentEdit(patient.id)"
                aria-label="Edit appointment"
                color="accent"
                mat-icon-button
              >
                <mat-icon>edit</mat-icon>
              </button>
              <button
                (click)="deleteAppointment(patient.id)"
                aria-label="Delete appointment"
                color="warn"
                mat-icon-button
              >
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>
      
          <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
          <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>

        
    </table>
</div>