<div class="container">
  <h2>Create Patient</h2>

  <form (ngSubmit)="createPatient()">
    <!-- Patient Identification -->
    <mat-card>
      <h4>Patient Identification</h4>
      <mat-card-content>
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input [(ngModel)]="patient.name" id="name" matInput name="name"/>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Age</mat-label>
          <input [(ngModel)]="patient.age" id="age" matInput name="age" type="number"/>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Gender</mat-label>
          <input [(ngModel)]="patient.gender" id="gender" matInput name="gender"/>
        </mat-form-field>
      </mat-card-content>
    </mat-card>

    <!-- Contact Information -->
    <mat-card>
      <mat-card-title>Contact Information</mat-card-title>
      <mat-card-content>
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input [(ngModel)]="patient.email" id="email" matInput name="email" type="email"/>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Phone</mat-label>
          <input [(ngModel)]="patient.phone" id="phone" matInput name="phone" type="tel"/>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Address</mat-label>
          <input [(ngModel)]="patient.address" id="address" matInput name="address"/>
        </mat-form-field>
      </mat-card-content>
    </mat-card>

    <!-- Emergency Contact -->
    <mat-card>
      <mat-card-title>Emergency Contact</mat-card-title>
      <mat-card-content>
        <mat-form-field>
          <mat-label>Contact Name</mat-label>
          <input [(ngModel)]="patient.emergencyContactName" id="emergencyContactName" matInput
                 name="emergencyContactName"/>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Contact Number</mat-label>
          <input [(ngModel)]="patient.emergencyContactNumber" id="emergencyContactNumber" matInput
                 name="emergencyContactNumber" type="tel"/>
        </mat-form-field>
      </mat-card-content>
    </mat-card>

    <!-- Medical Information -->
    <mat-card>
      <mat-card-title>Medical Information</mat-card-title>
      <mat-card-content>
        <mat-form-field>
          <mat-label>Allergies</mat-label>
          <textarea [(ngModel)]="patient.allergies" id="allergies" matInput
                    name="allergies"></textarea>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Current Medication</mat-label>
          <textarea [(ngModel)]="patient.currentMedication" id="currentMedication" matInput
                    name="currentMedication"></textarea>
        </mat-form-field>
        <mat-checkbox [(ngModel)]="patient.primaryConsent" name="primaryConsent">
          Primary Consent
        </mat-checkbox>
        <mat-form-field>
          <mat-label>Family Medical History</mat-label>
          <textarea [(ngModel)]="patient.familyMedicalHistory" id="familyMedicalHistory" matInput
                    name="familyMedicalHistory"></textarea>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Past Medical History</mat-label>
          <textarea [(ngModel)]="patient.pastMedicalHistory" id="pastMedicalHistory" matInput
                    name="pastMedicalHistory"></textarea>
        </mat-form-field>
      </mat-card-content>
    </mat-card>

    <!-- Insurance Information -->
    <mat-card>
      <mat-card-title>Insurance Information</mat-card-title>
      <mat-card-content>
        <mat-form-field>
          <mat-label>Provider</mat-label>
          <input [(ngModel)]="patient.insuranceProvider" id="insuranceProvider" matInput
                 name="insuranceProvider"/>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Policy Number</mat-label>
          <input [(ngModel)]="patient.insurancePolicyNumber" id="insurancePolicyNumber" matInput
                 name="insurancePolicyNumber"/>
        </mat-form-field>
      </mat-card-content>
    </mat-card>

    <!-- Identification -->
    <mat-card>
      <mat-card-title>Identification</mat-card-title>
      <mat-card-content>
        <mat-form-field>
          <mat-label>Type</mat-label>
          <input [(ngModel)]="patient.identificationType" id="identificationType" matInput
                 name="identificationType"/>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Number</mat-label>
          <input [(ngModel)]="patient.identificationNumber" id="identificationNumber" matInput
                 name="identificationNumber"/>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Document ID</mat-label>
          <input [(ngModel)]="patient.identificationDocumentId" id="identificationDocumentId"
                 matInput name="identificationDocumentId"/>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Document URL</mat-label>
          <input [(ngModel)]="patient.identificationDocumentUrl" id="identificationDocumentUrl"
                 matInput name="identificationDocumentUrl"
                 type="url"/>
        </mat-form-field>
      </mat-card-content>
    </mat-card>

    <button class="align-right" color="primary" mat-flat-button type="submit">
      Add new patient
    </button>
  </form>

  <p *ngIf="message">
    <ng-toast [position]="ToasterPosition.BOTTOM_CENTER" [width]="300"></ng-toast>
  </p>

</div>


