<div class="container">
  <div class="doctor-details">
    <h2 class="header-title">Create Doctor</h2>

    <form (ngSubmit)="createDoctor()">
      <mat-card class="doctor-card">
        <mat-card-header>
          <mat-card-title>
            <mat-icon>badge</mat-icon>
            Doctor Identification
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="doctor-info">
            <mat-form-field appearance="outline">
              <mat-label>Name</mat-label>
              <input [(ngModel)]="doctor.name" name="name" matInput required />
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Specialization</mat-label>
              <input
                [(ngModel)]="doctor.specialization"
                name="specialization"
                matInput
              />
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Experience Years</mat-label>
              <input
                [(ngModel)]="doctor.experienceYears"
                name="experienceYears"
                matInput
              />
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Doctor Image</mat-label>
              <input
                [(ngModel)]="doctor.image"
                id="image"
                matInput
                name="image"
                type="url"
              />
            </mat-form-field>
          </div>
        </mat-card-content>
      </mat-card>

      <mat-card class="doctor-card">
        <mat-card-header>
          <mat-card-title>
            <mat-icon>contact_phone</mat-icon>
            Contact Information
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input
              [(ngModel)]="doctor.email"
              name="email"
              matInput
              type="email"
              required
            />
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Address</mat-label>
            <input
              [(ngModel)]="doctor.address"
              name="address"
              matInput
              type="address"
              required
            />
          </mat-form-field>
        </mat-card-content>
      </mat-card>

      <mat-card class="doctor-card">
        <mat-card-header>
          <mat-card-title>
            <mat-icon>emergency</mat-icon>
            Emergency Contact
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="doctor-info">
            <mat-form-field appearance="outline">
              <mat-label>Contact Number</mat-label>
              <input
                [(ngModel)]="doctor.contactNumber"
                name="contactNumber"
                matInput
                type="contactNumber"
                required
              />
            </mat-form-field>
          </div>
        </mat-card-content>
      </mat-card>

      <mat-card class="doctor-card">
        <mat-card-header>
          <mat-card-title>Assigned Patients</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div *ngIf="assignedPatients.length === 0">
            <p>No patients assigned.</p>
          </div>
          <mat-chip-listbox *ngIf="assignedPatients.length > 0">
            <mat-chip *ngFor="let patient of assignedPatients" removable>
              {{ patient.name }}
            </mat-chip>
          </mat-chip-listbox>
          <button
            mat-raised-button
            color="primary"
            type="button"
            (click)="openDialog()"
          >
            Assign Patients
          </button>
        </mat-card-content>
      </mat-card>

      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="isSubmitting"
      >
        Create Doctor
      </button>
    </form>
  </div>
</div>
