<h2 mat-dialog-title>Assign Patients</h2>
<mat-dialog-content>
  <ng-container *ngIf="isLoading; else content">
    <p>Loading patients...</p>
  </ng-container>

  <ng-template #content>
    <table *ngIf="!errorMessage; else errorBlock" class="table">
      <thead>
        <tr>
          <th>Select</th>
          <th>Name</th>
          <th>Age</th>
          <th>Gender</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let patient of patients">
          <td>
            <mat-checkbox
              [checked]="selectedPatients.has(patient.id)"
              (change)="toggleSelection(patient.id)"
            ></mat-checkbox>
          </td>
          <td>{{ patient.name }}</td>
          <td>{{ patient.age }}</td>
          <td>{{ patient.gender }}</td>
        </tr>
      </tbody>
    </table>
  </ng-template>

  <ng-template #errorBlock>
    <p>{{ errorMessage }}</p>
  </ng-template>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="confirmSelection()">
    Confirm
  </button>
  <button mat-button (click)="closeDialog()">Cancel</button>
</mat-dialog-actions>
