<div class="header-container">
  <h2 class="header-title">List of Doctors</h2>
  <button (click)="addDoctor()" color="primary" mat-flat-button>
    Add Doctor
  </button>
</div>

<div class="table-container mat-elevation-z8" id="tableContainer">
  <table [dataSource]="doctors" class="demo-table" mat-table>
    <ng-container matColumnDef="name">
      <th *matHeaderCellDef mat-header-cell>Name</th>
      <td *matCellDef="let doctor" mat-cell>{{ doctor.name }}</td>
    </ng-container>

    <ng-container matColumnDef="specialization">
      <th *matHeaderCellDef mat-header-cell>Specialisation</th>
      <td *matCellDef="let doctor" mat-cell>{{ doctor.specialization }}</td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th *matHeaderCellDef mat-header-cell>Email</th>
      <td *matCellDef="let doctor" mat-cell>{{ doctor.email }}</td>
    </ng-container>

    <ng-container matColumnDef="address">
      <th *matHeaderCellDef mat-header-cell>Address</th>
      <td *matCellDef="let doctor" mat-cell>{{ doctor.address }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th *matHeaderCellDef mat-header-cell>Actions</th>
      <td *matCellDef="let doctor" class="actions-cell" mat-cell>
        <button
          (click)="navigateToDoctorDetails(doctor.id)"
          aria-label="View details"
          color="primary"
          mat-icon-button
        >
          <mat-icon>visibility</mat-icon>
        </button>
        <button
          (click)="navigateToDoctorEdit(doctor.id)"
          aria-label="Edit doctor"
          color="accent"
          mat-icon-button
        >
          <mat-icon>edit</mat-icon>
        </button>
        <button
          (click)="deleteDoctor(doctor.id)"
          aria-label="Delete doctor"
          color="warn"
          mat-icon-button
        >
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns" mat-row></tr>
  </table>
</div>

<app-scroller></app-scroller>
